In [1]:
import sqlite3

In [2]:
# Creating SQLite connection
conn = sqlite3.connect('data/customer.db')

In [3]:
# Creating a cursor
c = conn.cursor()

In [11]:
c.execute("""CREATE TABLE customers (
        first_name text,
        last_name text,
        email  text
    )""")

In [9]:
# Inserting one record into table
c.execute("INSERT INTO customers VALUES('Sharon', 'Dan', 'sharon@dan.com')")

In [15]:
## Insert many records into table
many_customers = [('Poppy', 'Bella', 'Poppy@bella.com'), ('Terry', 'Lola', 'terry@lola.com'), ('Catherine', 'Liberty', 'cath@liberty.net'),
                  ('Pabian', 'Russell', 'pab@rus.com')] # python list

In [16]:
# ? - placeholders
c.executemany("INSERT INTO customers VALUES (?,?,?)", many_customers)

In [17]:
# Fetching (first SELECT clause) getting data from the database
c.execute("SELECT * FROM customers")

In [18]:
items = c.fetchall()

In [19]:
items

[('John', 'Elder', 'john@company.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kirsh', 'st@kirsh.com'),
 ('Poppy', 'Bella', 'Poppy@bella.com'),
 ('Terry', 'Lola', 'terry@lola.com'),
 ('Catherine', 'Liberty', 'cath@liberty.net'),
 ('Pabian', 'Russell', 'pab@rus.com')]

In [11]:
for i in items:
    print(f"{i[0]} {i[1]} {i[2]}")

John Elder john@company.com
Wes Brown wes@brown.com
Steph Kirsh st@kirsh.com

#### Fetching a printing PRIMARY KEY
PRIMARY KEY is created by sqlite by default even if it's not explicitly asked for.

In [12]:
c.execute("SELECT rowid, first_name, last_name FROM customers")
id_first_last = c.fetchall()

In [13]:
id_first_last

[(1, 'John', 'Elder'), (2, 'Wes', 'Brown'), (3, 'Steph', 'Kirsh')]

In [14]:
for i in id_first_last:
    print(f"{i[0]} {i[1]} {i[2]}")

1 John Elder
2 Wes Brown
3 Steph Kirsh

In [21]:
# Finding specific results using the WHERE clause
c.execute("SELECT * FROM customers WHERE last_name = 'Bella'")

In [22]:
items = c.fetchall()
for i in items:
    print(f"{i[0]} {i[1]} {i[2]}")

Poppy Bella Poppy@bella.com

In [23]:
## Like keyword
c.execute("SELECT * FROM customers WHERE first_name LIKE 'P%'")

In [24]:
items = c.fetchall()
for i in items:
    print(f"{i[0]} {i[1]} {i[2]}")

Poppy Bella Poppy@bella.com
Pabian Russell pab@rus.com

#### Wildcards
%
*

In [25]:
# Updating records
c.execute("""UPDATE customers SET first_name = 'Fabian' WHERE last_name = 'Russell'""")

In [32]:
c.execute("SELECT * FROM customers")
items = c.fetchall()
for i in items:
    print(f"{i[0]} {i[1]} {i[2]}")

# above is a bad way to update because it chages all first names with last name Russell, it's better to update using rowid

Anna Elder john@company.com
Wes Brown wes@brown.com
Steph Kirsh st@kirsh.com
Terry Lola terry@lola.com
Catherine Liberty cath@liberty.net
Fabian Russell pab@rus.com

In [29]:
#### Updating records by rowid
c.execute("""UPDATE customers SET first_name = 'Anna' WHERE rowid = 1""")

In [31]:
# Deleting records (droping)

c.execute("DELETE FROM customers WHERE rowid = 4")

In [33]:
c.execute("SELECT rowid, * FROM customers")
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

1 Anna Elder john@company.com
2 Wes Brown wes@brown.com
3 Steph Kirsh st@kirsh.com
5 Terry Lola terry@lola.com
6 Catherine Liberty cath@liberty.net
7 Fabian Russell pab@rus.com

#### Ordering - ORDER BY keyword
ASC -ascending
DESC descending

In [34]:
c.execute("SELECT rowid,* FROM customers ORDER BY last_name DESC")

In [35]:
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

7 Fabian Russell pab@rus.com
5 Terry Lola terry@lola.com
6 Catherine Liberty cath@liberty.net
3 Steph Kirsh st@kirsh.com
1 Anna Elder john@company.com
2 Wes Brown wes@brown.com

In [36]:
# Limiting results - LIMIT KEYWORD
c.execute("SELECT rowid,* FROM customers ORDER BY last_name ASC LIMIT 3")
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

2 Wes Brown wes@brown.com
1 Anna Elder john@company.com
3 Steph Kirsh st@kirsh.com

In [38]:
# Droping table - deletes a table
c.execute("DROP TABLE customers")

In [39]:
# try to search table
c.execute("SELECT rowid, * FROM customers")
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

OperationalError: no such table: customers

In [40]:
# Commiting changes
conn.commit()

In [41]:
# Closing connection
conn.close()