## SQLite basic operations / SQLite podstawowe operacje

In this notebook we are going to do basic SQLite operations like creating table, inserting, updating and deleting data inside a table, fetching and displaying data with ordering and basic pattern matching.
We are going to manually add a few Starcraft 2 units.
Below is a basic table of data to be put inside databas table.


W tym zeszycie zaprezentuję podstawowe operacje SQLite jak tworzenie tabeli, umieszczanie, aktualizowanie i usuwanie danych z tabeli oraz szukawnie, sortowanie i pokazywanie.

Poniżej jest tabela z jednostami to umieszczenia w tabeli.





| Name          | Mineral | Damage | Hit Points | Range |
|---------------|---------|--------|------------|-------|
| Marine        | 50      | 6      | 45         | 5     |
| Siege Tank    | 150     | 15     | 175        | 7     |
| Battlecruiser | 4000    | 8      | 550        | 6     |

In [1]:
import sqlite3

In [2]:
# Creating SQLite connection
# Tworzenie połączenia z bazą danych
conn = sqlite3.connect('data/sc2_basic_units.db')

In [3]:
# Creating a cursor
# Tworzenie cursora. Połączenie i cursor są potrzebne do wykonywania poleceń na bazie danych.
c = conn.cursor()

In [4]:
# Creating a table terran_units to store terran_units
# Tworzymy tablelę terran_units do przechowywania jednostek terrana
c.execute("""CREATE TABLE terran_units (
        name text,
        mineral integer,
        damage real,
        hit_points integer,
        range text
    )""")

In [5]:
# Inserting one record into table terran_units
# Umieszczenie jednego rekorku jednostki w tabeli terran_units
c.execute("INSERT INTO terran_units VALUES('Marine', 50, 6, 45, 5)")

#### Insert many records into table / Umieszczanie wielu rekordów w tabeli
First we create a list of tuples, with each tuple corresponding to the record structure inside out table.
Later we use executemany function using ? placeholders which inserts all the records from our list.

Najpierw tworzymy listę krotek, gdzie każda krotka ma strukturę jak kolumny w tabeli.
Potem używamy funkcji executemany(), która wykonuje zawołanie SQL dla każdego elementu listy.

In [6]:
units = [('Marauder', 100, 10, 125, 10), ('Siege Tank', 150, 15, 175, 7), ('Battlecruiser', 400, 8, 550, 6)]

In [7]:
# ? - placeholders
c.executemany("INSERT INTO terran_units VALUES (?,?,?,?,?)", units)

In [8]:
# Fetching (first SELECT clause) getting data from the database
c.execute("SELECT * FROM terran_units")
items = c.fetchall()
items

[('Marine', 50, 6.0, 45, '5'),
 ('Marauder', 100, 10.0, 125, '10'),
 ('Siege Tank', 150, 15.0, 175, '7'),
 ('Battlecruiser', 400, 8.0, 550, '6')]

In [9]:
for i in items:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]} {i[4]}")

Marine 50 6.0 45 5
Marauder 100 10.0 125 10
Siege Tank 150 15.0 175 7
Battlecruiser 400 8.0 550 6

#### Fetching a printing PRIMARY KEY
PRIMARY KEY is created by sqlite by default even if it's not explicitly asked for.

In [10]:
c.execute("SELECT rowid, name FROM terran_units")
id_first_last = c.fetchall()

In [11]:
id_first_last

[(1, 'Marine'), (2, 'Marauder'), (3, 'Siege Tank'), (4, 'Battlecruiser')]

In [12]:
for i in id_first_last:
    print(f"{i[0]} {i[1]}")

1 Marine
2 Marauder
3 Siege Tank
4 Battlecruiser

In [21]:
# Finding specific results using the WHERE clause
c.execute("SELECT * FROM customers WHERE last_name = 'Bella'")

In [22]:
items = c.fetchall()
for i in items:
    print(f"{i[0]} {i[1]} {i[2]}")

Poppy Bella Poppy@bella.com

In [23]:
## Like keyword
c.execute("SELECT * FROM customers WHERE first_name LIKE 'P%'")

In [24]:
items = c.fetchall()
for i in items:
    print(f"{i[0]} {i[1]} {i[2]}")

Poppy Bella Poppy@bella.com
Pabian Russell pab@rus.com

#### Wildcards
%
*

In [25]:
# Updating records
c.execute("""UPDATE customers SET first_name = 'Fabian' WHERE last_name = 'Russell'""")

In [32]:
c.execute("SELECT * FROM customers")
items = c.fetchall()
for i in items:
    print(f"{i[0]} {i[1]} {i[2]}")

# above is a bad way to update because it chages all first names with last name Russell, it's better to update using rowid

Anna Elder john@company.com
Wes Brown wes@brown.com
Steph Kirsh st@kirsh.com
Terry Lola terry@lola.com
Catherine Liberty cath@liberty.net
Fabian Russell pab@rus.com

In [29]:
#### Updating records by rowid
c.execute("""UPDATE customers SET first_name = 'Anna' WHERE rowid = 1""")

In [31]:
# Deleting records (droping)

c.execute("DELETE FROM customers WHERE rowid = 4")

In [33]:
c.execute("SELECT rowid, * FROM customers")
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

1 Anna Elder john@company.com
2 Wes Brown wes@brown.com
3 Steph Kirsh st@kirsh.com
5 Terry Lola terry@lola.com
6 Catherine Liberty cath@liberty.net
7 Fabian Russell pab@rus.com

#### Ordering - ORDER BY keyword
ASC -ascending
DESC descending

In [34]:
c.execute("SELECT rowid,* FROM customers ORDER BY last_name DESC")

In [35]:
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

7 Fabian Russell pab@rus.com
5 Terry Lola terry@lola.com
6 Catherine Liberty cath@liberty.net
3 Steph Kirsh st@kirsh.com
1 Anna Elder john@company.com
2 Wes Brown wes@brown.com

In [36]:
# Limiting results - LIMIT KEYWORD
c.execute("SELECT rowid,* FROM customers ORDER BY last_name ASC LIMIT 3")
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

2 Wes Brown wes@brown.com
1 Anna Elder john@company.com
3 Steph Kirsh st@kirsh.com

In [38]:
# Droping table - deletes a table
c.execute("DROP TABLE customers")

In [39]:
# try to search table
c.execute("SELECT rowid, * FROM customers")
items_id = c.fetchall()

for i in items_id:
    print(f"{i[0]} {i[1]} {i[2]} {i[3]}")

OperationalError: no such table: customers

In [4]:
# Closing connection
conn.close()