In [1]:
# importing libraries
# importowanie bibliotek

import pandas as pd
import sqlite3

In [2]:
# Making connection to a database and creating cursor
# Tworzenie połączenia do bady danych i tzw. cursora

conn = sqlite3.connect('data/sc2_data.db')
c = conn.cursor()

## Starcraft 2 unit details scraping / skrobanie danych o jednostkach ze Starcrafta 2
To achieve that we simply use Pandas read_html function which converts all tables on the page into DataFrame objects.

Żeby to osiągnąć używamy funkcji read_html() z pandas, która wczytuje wszystkie tabele ze strony i konwertuje je na objekty DataFrame.

In [3]:
# url from the starcraft 2 encyclopedia called liquipedia
# Przypisywanie adresu encyklopedii starcrafta o nazwie liquipedia zmiennej url

url = 'https://liquipedia.net/starcraft2/Unit_Statistics_(Legacy_of_the_Void)'

In [4]:
dfs = pd.read_html(url)

In [5]:
# checking whether scraped data makes sense, which it does.
# sprawdzenie czy zeskrobane dane mają sens.

dfs[0].head()

,Unit,Unnamed: 1,Unnamed: 2,Unnamed: 3,/ WG,Size,Cargo,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,A. Attack,Bonus,G. DPS,A. DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Range,Sight
0,Probe,1,50,0,12,0.75,1,0 (+1),20,20,...,-,-,4.7,-,-,-,1.07,3.94,M,8
1,Zealot,2,100,0,27/20,1,2,1 (+1),100,50,...,-,-,18.6 (+2.33),-,-,-,0.86,3.15 (4.725 +5.67 C),M,9
2,Sentry,2,50,100,26/23,1,2,1 (+1),40,40,...,6 (+1),-,8.5 (+1.41),8.5 (+1.41),-,-,0.71,3.15,5,10
3,Stalker,2,125,50,30/23,1.25,2,1 (+1),80,80,...,13 (+1),+5 (+1) A,9.7 (+0.75),9.7 (+0.75),+3.7 (+0.75) A,P,1.34,4.13,6,10
4,Adept,2,100,25,30/20,1,2,1 (+1),70,70,...,-,+12 (+1) L,6.2 (+0.62),-,+7.45 (+0.62) L,-,1.61 (1.11),3.5 (4.78),4,9

#### Protoss units / Jednostki Protossa
First we load the protoss units dataframe object. We see that some columns miss names, which we fix by ammending the columns field of the dataframe.
Later we create a new table protoss_units with fiels as dataframe columns and appropriate data types.
Afterwards we use the pandas dataframe.to_sql() function.

Najpierw przypisujemy dataframe z jednostami protossa zmiennej protoss_units. W zaiązku z tym, że niektóre kolumny nie mają nazw poprawiamy to nadpisując protoss_units.columns.
W bazie danych tworzymy nową tabelę z polami takimi jak kolumny w dataframe.
Potem używamy pandasowej funkcji dataframe.to_sql()  która zapisuje dane z dataframe w tabeli sql.

In [6]:
protoss_units = dfs[0]

In [7]:
protoss_units.head()

,Unit,Unnamed: 1,Unnamed: 2,Unnamed: 3,/ WG,Size,Cargo,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,A. Attack,Bonus,G. DPS,A. DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Range,Sight
0,Probe,1,50,0,12,0.75,1,0 (+1),20,20,...,-,-,4.7,-,-,-,1.07,3.94,M,8
1,Zealot,2,100,0,27/20,1,2,1 (+1),100,50,...,-,-,18.6 (+2.33),-,-,-,0.86,3.15 (4.725 +5.67 C),M,9
2,Sentry,2,50,100,26/23,1,2,1 (+1),40,40,...,6 (+1),-,8.5 (+1.41),8.5 (+1.41),-,-,0.71,3.15,5,10
3,Stalker,2,125,50,30/23,1.25,2,1 (+1),80,80,...,13 (+1),+5 (+1) A,9.7 (+0.75),9.7 (+0.75),+3.7 (+0.75) A,P,1.34,4.13,6,10
4,Adept,2,100,25,30/20,1,2,1 (+1),70,70,...,-,+12 (+1) L,6.2 (+0.62),-,+7.45 (+0.62) L,-,1.61 (1.11),3.5 (4.78),4,9

In [8]:
protoss_units.columns = ['Unit name', 'Supply', 'Minerals', 'Gas', 'Game speed / Warp Gate', 'Size',
                         'Cargo', 'Armor', 'Hit Points', 'Plasma Shield', 'Attributes', 'Ground Attack',
                         'Air Attack', 'Bonus', 'Ground DPS', 'Air DPS', 'Bonus DPS', 'Attack Mod',
                         'Cooldown', 'Speed', 'Range', 'Sight']

In [9]:
protoss_units.head()

,Unit name,Supply,Minerals,Gas,Game speed / Warp Gate,Size,Cargo,Armor,Hit Points,Plasma Shield,...,Air Attack,Bonus,Ground DPS,Air DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Range,Sight
0,Probe,1,50,0,12,0.75,1,0 (+1),20,20,...,-,-,4.7,-,-,-,1.07,3.94,M,8
1,Zealot,2,100,0,27/20,1,2,1 (+1),100,50,...,-,-,18.6 (+2.33),-,-,-,0.86,3.15 (4.725 +5.67 C),M,9
2,Sentry,2,50,100,26/23,1,2,1 (+1),40,40,...,6 (+1),-,8.5 (+1.41),8.5 (+1.41),-,-,0.71,3.15,5,10
3,Stalker,2,125,50,30/23,1.25,2,1 (+1),80,80,...,13 (+1),+5 (+1) A,9.7 (+0.75),9.7 (+0.75),+3.7 (+0.75) A,P,1.34,4.13,6,10
4,Adept,2,100,25,30/20,1,2,1 (+1),70,70,...,-,+12 (+1) L,6.2 (+0.62),-,+7.45 (+0.62) L,-,1.61 (1.11),3.5 (4.78),4,9

In [10]:
c.execute("""CREATE TABLE IF NOT EXISTS protoss_units ('Unit name' text, 'Supply' integer, 'Minerals' integer, 'Gas' integer, 'Game speed / Warp Gate' text, 'Size' real, 'Cargo' integer, 'Armor' text, 'Hit Points' integer, 'Plasma Shield' integer, 'Attributes' text, 'Ground Attack' text, 'Air Attack' text, 'Bonus' text, 'Ground DPS' text, 'Air DPS' text, 'Bonus DPS' text, 'Attack Mod' text, 'Cooldown' text, 'Speed' text, 'Range' text, 'Sight' integer)""")

In [12]:
protoss_units.to_sql('protoss_units', conn, if_exists='append', index = False)
conn.commit()

/home/plato/mambaforge/envs/nlp/lib/python3.9/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

#### Terran units / Jednostki Terrana
We do the same process for terran, as we did earlier for protoss.
Proces, który zastosowaliśmy dla protosa powtarzamy dla terrana.

In [13]:
dfs[1].head()

,Unit,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Size,Cargo,Unnamed: 7,Unnamed: 8,Attr.,...,A. Attack,Bonus,G. DPS,A. DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Range,Sight
0,SCV,1,50,0,12,0.75,1,0 (+1),45,"L, B, M",...,-,-,4.7,-,-,-,1.07,3.94,M,8
1,MULE,-,-,-,-,0.75,-,0 (+1),60,"L, M",...,-,-,-,-,-,-,-,3.94,-,8
2,Marine,1,50,0,18,0.75,1,0 (+1),45 (+10),"L, B",...,6 (+1),-,"9.8 (+1.64), 15 (+2.5)","9.8 (+1.64), 15 (+2.5)",-,-,0.61 (0.40),3.15 (+1.57),5,9
3,Marauder,2,100,25,21,1.125,2,1 (+1),125,"A, B",...,-,+5 A,"9.3 (+1.87), 14.1 (+2.82)",-,"+9.3, +14.1 A",P,1.07 (0.71),3.15 (+1.57),6,10
4,Reaper,1,50,50,32,0.75,1,0 (+1),60,"L, B",...,-,-,10.1 (+2.53),-,-,-,0.79,5.25,5,9

In [14]:
terran_units = dfs[1]
terran_units.columns = ['Unit name', 'Supply', 'Minerals', 'Gas', 'Game speed', 'Size',
                         'Cargo', 'Armor', 'Hit Points', 'Attributes', 'Ground Attack',
                         'Air Attack', 'Bonus', 'Ground DPS', 'Air DPS', 'Bonus DPS', 'Attack Mod',
                         'Cooldown', 'Speed', 'Range', 'Sight']
terran_units.head()

,Unit name,Supply,Minerals,Gas,Game speed,Size,Cargo,Armor,Hit Points,Attributes,...,Air Attack,Bonus,Ground DPS,Air DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Range,Sight
0,SCV,1,50,0,12,0.75,1,0 (+1),45,"L, B, M",...,-,-,4.7,-,-,-,1.07,3.94,M,8
1,MULE,-,-,-,-,0.75,-,0 (+1),60,"L, M",...,-,-,-,-,-,-,-,3.94,-,8
2,Marine,1,50,0,18,0.75,1,0 (+1),45 (+10),"L, B",...,6 (+1),-,"9.8 (+1.64), 15 (+2.5)","9.8 (+1.64), 15 (+2.5)",-,-,0.61 (0.40),3.15 (+1.57),5,9
3,Marauder,2,100,25,21,1.125,2,1 (+1),125,"A, B",...,-,+5 A,"9.3 (+1.87), 14.1 (+2.82)",-,"+9.3, +14.1 A",P,1.07 (0.71),3.15 (+1.57),6,10
4,Reaper,1,50,50,32,0.75,1,0 (+1),60,"L, B",...,-,-,10.1 (+2.53),-,-,-,0.79,5.25,5,9

In [15]:
c.execute("""CREATE TABLE IF NOT EXISTS terran_units ('Unit name' text, 'Supply' integer, 'Minerals' integer, 'Gas' integer, 'Game speed' text, 'Size' real, 'Cargo' integer, 'Armor' text, 'Hit Points' integer, 'Attributes' text, 'Ground Attack' text, 'Air Attack' text, 'Bonus' text, 'Ground DPS' text, 'Air DPS' text, 'Bonus DPS' text, 'Attack Mod' text, 'Cooldown' text, 'Speed' text, 'Range' text, 'Sight' integer)""")
conn.commit()

In [16]:
terran_units.to_sql('terran_units', conn, if_exists='append', index = False)

/home/plato/mambaforge/envs/nlp/lib/python3.9/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

#### Zerg units / Jednostki Zerga
We do the same process for zerg, as we did earlier for protoss and terran.
Powtarzamy powyższy proces dla zerga.

In [17]:
dfs[2].head()

,Unit,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Size,Cargo,Unnamed: 7,Unnamed: 8,Attr.,...,Bonus,G. DPS,A. DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Creep bonus,Range,Sight
0,Larva,-,-,-,11,0.25,-,10,25,"L, B",...,-,-,-,-,-,-,(0.79),x1.0,-,5
1,Drone,1,50,0,12,0.75,1,0 (+1),40,"L, B",...,-,4.7,-,-,-,1.07,3.94,x1.0,M,8
2,Queen,2,150,0,36,1.75,2,1 (+1),175,"B, P",...,-,11.3 (+2.82),12.7 (+1.41),-,P,0.71,1.31,x2.7,"5, 7",9
3,Zergling,0.5,25,0,17,0.75,1,0 (+1),35,"L, B",...,-,"10 (+2), 14.1 (+2.82)",-,-,-,0.497 (0.354),4.13 (+2.45),x1.3,M,8
4,Baneling,0.5,25,25,14,0.75,2,0 (+1),30 (+5),B,...,+19 (+2) L / +64 (+5) S,-,-,-,S,-,3.5 (+0.63),x1.3,M,8

In [18]:
zerg_units = dfs[2]
zerg_units.columns = ['Unit name', 'Supply', 'Minerals', 'Gas', 'Game speed', 'Size',
                      'Cargo', 'Armor', 'Hit Points', 'Attributes', 'Ground Attack',
                      'Air Attack', 'Bonus', 'Ground DPS', 'Air DPS', 'Bonus DPS', 'Attack Mod',
                      'Cooldown', 'Speed', 'Creep Bonus', 'Range', 'Sight']
zerg_units.head()

,Unit name,Supply,Minerals,Gas,Game speed,Size,Cargo,Armor,Hit Points,Attributes,...,Bonus,Ground DPS,Air DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Creep Bonus,Range,Sight
0,Larva,-,-,-,11,0.25,-,10,25,"L, B",...,-,-,-,-,-,-,(0.79),x1.0,-,5
1,Drone,1,50,0,12,0.75,1,0 (+1),40,"L, B",...,-,4.7,-,-,-,1.07,3.94,x1.0,M,8
2,Queen,2,150,0,36,1.75,2,1 (+1),175,"B, P",...,-,11.3 (+2.82),12.7 (+1.41),-,P,0.71,1.31,x2.7,"5, 7",9
3,Zergling,0.5,25,0,17,0.75,1,0 (+1),35,"L, B",...,-,"10 (+2), 14.1 (+2.82)",-,-,-,0.497 (0.354),4.13 (+2.45),x1.3,M,8
4,Baneling,0.5,25,25,14,0.75,2,0 (+1),30 (+5),B,...,+19 (+2) L / +64 (+5) S,-,-,-,S,-,3.5 (+0.63),x1.3,M,8

In [19]:
c.execute(
    """CREATE TABLE IF NOT EXISTS zerg_units ('Unit name' text, 'Supply' integer, 'Minerals' integer, 'Gas' integer, 'Game speed' text, 'Size' real, 'Cargo' integer, 'Armor' text, 'Hit Points' integer, 'Attributes' text, 'Ground Attack' text, 'Air Attack' text, 'Bonus' text, 'Ground DPS' text, 'Air DPS' text, 'Bonus DPS' text, 'Attack Mod' text, 'Cooldown' text, 'Speed' text, 'Creep Bonus' text, 'Range' text, 'Sight' integer)""")
zerg_units.to_sql('zerg_units', conn, if_exists='append', index=False)

/home/plato/mambaforge/envs/nlp/lib/python3.9/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [20]:
# Commiting changes and closing connection
# Zapisywanie zmain i zamykanie połączenia
conn.commit()
conn.close()