In [1]:
import sqlite3
import pandas as pd

In [2]:
# Creating SQLite connection
# Tworzenie połączenia z bazą danych

conn = sqlite3.connect('data/sc2_data.db')

In [3]:
# Creating a cursor
# Tworzenie cursora. Połączenie i cursor są potrzebne do wykonywania poleceń na bazie danych

c = conn.cursor()

In [4]:
# getting into terran data and diplaying it using pandas
terran_units = pd.read_sql("select * from terran_units", conn)

In [5]:
terran_units

,Unit name,Supply,Minerals,Gas,Game speed,Size,Cargo,Armor,Hit Points,Attributes,...,Air Attack,Bonus,Ground DPS,Air DPS,Bonus DPS,Attack Mod,Cooldown,Speed,Range,Sight
0,SCV,1,50,0,12,0.75,1,0 (+1),45,"L, B, M",...,-,-,4.7,-,-,-,1.07,3.94,M,8
1,MULE,-,-,-,-,0.75,-,0 (+1),60,"L, M",...,-,-,-,-,-,-,-,3.94,-,8
2,Marine,1,50,0,18,0.75,1,0 (+1),45 (+10),"L, B",...,6 (+1),-,"9.8 (+1.64), 15 (+2.5)","9.8 (+1.64), 15 (+2.5)",-,-,0.61 (0.40),3.15 (+1.57),5,9
3,Marauder,2,100,25,21,1.125,2,1 (+1),125,"A, B",...,-,+5 A,"9.3 (+1.87), 14.1 (+2.82)",-,"+9.3, +14.1 A",P,1.07 (0.71),3.15 (+1.57),6,10
4,Reaper,1,50,50,32,0.75,1,0 (+1),60,"L, B",...,-,-,10.1 (+2.53),-,-,-,0.79,5.25,5,9
5,Ghost,2,150,125,29,0.75,2,0 (+1),100,"B, P",...,10 (+1),+10 (+1) L,9.3 (+0.93),9.3 (+0.93),+9.3 (+0.93) L,-,1.07,3.94,6,11
6,Hellion,2,100,0,21,1.25,2,0 (+1),90,"L, M",...,-,"+6 (+1), +11 L",4.5 (+0.56),-,"+3.4 (+0.56), 6.16 (+0.56) L",L,1.79,5.95,5,10
7,Hellbat,2,100,0,21,1.25,4,0 (+1),135,"L, B, M",...,-,"+0 (+1), +12 L",12.6 (+1.4),-,"+0 (+0.7), 8.4 (+0.7) L",S,1.43,3.15,2,10
8,Widow Mine,2,75,25,21,1,2,0 (+1),90,"L, M",...,-,+35 Shield,-,-,-,S,29,3.94,5,7
9,Siege Tank tm,3,150,125,32,1.75,4,1 (+1),175,"A, M",...,-,+10 (+1) A,20.3 (+2.7),-,+13.5 (+1.35) A,-,0.74,3.15,7,11
10,Siege Tank sm,3,150,125,32,1.75,8,1 (+1),175,"A, M",...,-,30 (+1) A,18.69 (+2.6),-,+14.02 (+0.87) A,S,2.14,-,13,11
11,Cyclone,3,150,100,32,1.5,3,1 (+1),120,"A, M",...,18 (+2),-,25.2 (+2.8),25.2 (+2.8),-,P,0.71,4.72,5,11
12,Thor (Explosive),6,300,200,43,2,8,1 (+1),400,"A, M, Ma",...,6 (+1) (x4),+6 (+1) L Air,65.9 (+6.59),11.2 (+1.87),+11.2 (+1.87) L Air,"S, P (Air)","0.91, 2.14",2.62,"7, 10 Air",11
13,Thor (High Impact),6,300,200,43,2,8,1 (+1),400,"A, M, Ma",...,25 (+4),+10 (+1) Ma Air,65.9 (+6.59),27.5 (+3.3),+11.0 (+1.1) Ma Air,P (Air),0.91,2.62,"7, 11 Air",11
14,Viking fm,2,150,75,30,1.5,-,0 (+1),125,"A, M",...,10 (+1) x2,+4 A,-,14 (+1.4),+5.59 A,P,1.43,3.85,9,10
15,Viking am,2,150,75,30,1.5,2,0 (+1),125,"A, M",...,-,+8 (+1) M,16.9 (+1.41),-,+11.3 (+1.41) M,-,0.71,3.15,6,10
16,Medivac,2,100,100,30,1.5,-,1 (+1),150,"A, M",...,-,-,-,-,-,-,-,3.5 (0.63) (+2.44),-,11
17,Liberator fm,3,150,150,43,1.5,-,0 (+1),180,"A, M",...,5 (+1) x2,-,-,7.75 (+1.55),-,P,1.29,4.72,5,10
18,Liberator dm,3,150,150,43,1.5,-,0 (+1),180,"A, M",...,-,-,65.8 (+4.39),-,-,-,1.14,-,10 (+3),10 (+3)
19,Banshee,3,150,100,43,1.5,-,0 (+1),140,"L, M",...,-,-,27 (+2.25),-,-,P,0.89,3.85 (+1.4),6,10
20,Raven,2,100,200,43,1.25,-,1 (+1),140,"L, M",...,-,-,-,-,-,-,-,4.13,-,11
21,Battlecruiser,6,400,300,64,2.5,-,3 (+1),550,"A, M, Ma",...,5 (+1),-,50 (+6.25),31.25 (+6.25),-,-,0.16,2.62,6,12
22,Planetary Fortress,-,150,150,36,5x5,-,3 (+2),1500,"A, M, S",...,-,-,28,-,-,S,1.43,-,6 (+1),11
23,Missile Turret,-,100,0,18,2x2,-,0 (+2),250,"A, M, S",...,12 x2,-,-,39.3,-,-,0.61,-,7 (+1),11
24,Auto-Turret,-,-,-,-,2x2,-,1 (+2),150,"A, M, S",...,18,-,31.58,31.58,-,-,0.57,-,6 (+1),7

### Union of all units
Trying to combine all units from three different races, which are stored in threee differrent tables in the database.

While most columns are the same, a few columns are unique for Zerg and Protoss, we will see whether it will work.

In [6]:
union_all_units = pd.read_sql("select * from terran_units union select * from protoss_units", conn)

DatabaseError: Execution failed on sql 'select * from terran_units union select * from protoss_units': SELECTs to the left and right of UNION do not have the same number of result columns

Let's list columns and select relevant columns from each table, that also are common between tables to do a UNION.

In [19]:
terran_units.columns.values.tolist()

['Unit name', 'Supply', 'Minerals', 'Gas', 'Game speed', 'Size', 'Cargo', 'Armor', 'Hit Points', 'Attributes', 'Ground Attack', 'Air Attack', 'Bonus', 'Ground DPS', 'Air DPS', 'Bonus DPS', 'Attack Mod', 'Cooldown', 'Speed', 'Range', 'Sight']

In [21]:
# getting into zerg data and diplaying it using pandas
zerg_units = pd.read_sql("select * from zerg_units", conn)

In [22]:
zerg_units.columns.values.tolist()

['Unit name', 'Supply', 'Minerals', 'Gas', 'Game speed', 'Size', 'Cargo', 'Armor', 'Hit Points', 'Attributes', 'Ground Attack', 'Air Attack', 'Bonus', 'Ground DPS', 'Air DPS', 'Bonus DPS', 'Attack Mod', 'Cooldown', 'Speed', 'Creep Bonus', 'Range', 'Sight']

In [24]:
# getting into protoss data and diplaying it using pandas
protoss_units = pd.read_sql("select * from protoss_units", conn)

In [25]:
protoss_units.columns.values.tolist()

['Unit name', 'Supply', 'Minerals', 'Gas', 'Game speed / Warp Gate', 'Size', 'Cargo', 'Armor', 'Hit Points', 'Plasma Shield', 'Attributes', 'Ground Attack', 'Air Attack', 'Bonus', 'Ground DPS', 'Air DPS', 'Bonus DPS', 'Attack Mod', 'Cooldown', 'Speed', 'Range', 'Sight']

In [26]:
intersection = list(set(terran_units) & set(zerg_units) & set(protoss_units))

In [27]:
intersection

['Sight', 'Cargo', 'Unit name', 'Supply', 'Size', 'Armor', 'Air DPS', 'Air Attack', 'Ground Attack', 'Bonus', 'Ground DPS', 'Speed', 'Hit Points', 'Cooldown', 'Attack Mod', 'Bonus DPS', 'Attributes', 'Gas', 'Minerals', 'Range']

In [29]:
relevant_columns = ['Unit name', 'Air DPS']

In [36]:
str_ = str(relevant_columns)

In [39]:
print(str_)

['Unit name', 'Air DPS']

In [40]:
str_rel_col = str(relevant_columns)
str_rel_col = str_rel_col[1:-1]
str_rel_col

"'Unit name', 'Air DPS'"

In [43]:
union_all_units = pd.read_sql("select 'Unit name', 'Air DPS' from terran_units union select 'Unit name', 'Air DPS' from protoss_units", conn)

In [44]:
union_all_units

  'Unit name' 'Air DPS'
0   Unit name   Air DPS

In [45]:
union_all_units = pd.read_sql("select 'Unit name', 'Air DPS' from terran_units", conn)

In [46]:
union_all_units

   'Unit name' 'Air DPS'
0    Unit name   Air DPS
1    Unit name   Air DPS
2    Unit name   Air DPS
3    Unit name   Air DPS
4    Unit name   Air DPS
5    Unit name   Air DPS
6    Unit name   Air DPS
7    Unit name   Air DPS
8    Unit name   Air DPS
9    Unit name   Air DPS
10   Unit name   Air DPS
11   Unit name   Air DPS
12   Unit name   Air DPS
13   Unit name   Air DPS
14   Unit name   Air DPS
15   Unit name   Air DPS
16   Unit name   Air DPS
17   Unit name   Air DPS
18   Unit name   Air DPS
19   Unit name   Air DPS
20   Unit name   Air DPS
21   Unit name   Air DPS
22   Unit name   Air DPS
23   Unit name   Air DPS
24   Unit name   Air DPS